:root {
  // Blue
  --color-blue-100: #ebf0f5;
  --color-blue-200: #b8d8f5;
  --color-blue-300: #84c0f5;
  --color-blue-400: #51a8f5;
  --color-blue-500: #1d92f5;
  --color-blue-600: #136dbd;
  --color-blue-700: #0b4c85;
  --color-blue-800: #052b4d;
  --color-blue-900: #04121f;
  // Red
  --color-red-100: #f5eceb;
  --color-red-200: #f2bdb8;
  --color-red-300: #f08e86;
  --color-red-400: #ed6155;
  --color-red-500: #ea3525;
  --color-red-600: #b52418;
  --color-red-700: #80160d;
  --color-red-800: #4a0a05;
  --color-red-900: #1f0604;
  // Orange
  --color-orange-100: #f5f2eb;
  --color-orange-200: #f5e4b5;
  --color-orange-300: #f5d77f;
  --color-orange-400: #f5c949;
  --color-orange-500: #f5bb14;
  --color-orange-600: #bd900d;
  --color-orange-700: #856508;
  --color-orange-800: #4d3a04;
  --color-orange-900: #1f1804;
  // Green
  --color-green-100: #ebf5ee;
  --color-green-200: #aff0c0;
  --color-green-300: #75eb95;
  --color-green-400: #3ee56b;
  --color-green-500: #09e043;
  --color-green-600: #07ad33;
  --color-green-700: #057a24;
  --color-green-800: #034715;
  --color-green-900: #041f0b;
  // White
  --color-white-100: #fafbfc;
  --color-white-200: #e1e3e5;
  --color-white-300: #c4c8cc;
  --color-white-400: #a8aeb2;
  --color-white-500: #8d9399;
  --color-white-600: #737a80;
  --color-white-700: #5a6066;
  --color-white-800: #42484d;
  --color-white-900: #2b3033;
  // Black
  --color-black-100: #33393d;
  --color-black-200: #2a3138;
  --color-black-300: #212b33;
  --color-black-400: #19242e;
  --color-black-500: #121e29;
  --color-black-600: #0c1924;
  --color-black-700: #07141f;
  --color-black-800: #040f1a;
  --color-black-900: #010b14;
}
.text-white-300 {
  color: var(--color-white-300);
}
.text-white-800 {
  color: var(--color-white-800);
}
