.p-button {
  border-radius: 10rem;
  padding: 0.7rem 1.5rem;
  text-transform: uppercase;
  border-width: 4px;
  flex-direction: row-reverse;
}
.p-button-contrast {
  background: var(--white-100);
  color: var(--blue-700);
  border: none;
  transition: scale 0.1s linear;
  &:hover {
    scale: 0.95;
  }
}
.p-button-outlined {
  padding: 0.7rem 2.5rem;
}
