.p-divider {
  margin: 0;
  &::before {
    border-block-start: 3px solid var(--black-500);
  }
  .p-divider-content {
    position: absolute;
    background: none;
    span {
      color: var(--white-200);
      font-size: 1.2rem;
      padding: 0.5rem 3rem;
      background-color: var(--black-300);
      border-radius: 10rem;
      text-transform: uppercase;
    }
  }
}
