.gradient-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: linear-gradient(
    to right,
    var(--color-black-900) 4%,
    transparent 50%,
    var(--color-black-900) 96%
  );
}
