.main-menubar {
  --menubar-gap: 1rem;
  background: none;
  border: none;
  padding: 0;
  justify-content: space-between;
  gap: 0;
  align-items: flex-start;
  p-menubarsub {
    // backdrop-filter: blur(5px);
    background-color: #010b14a5;
    width: 100%;
    padding-top: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 3.5rem;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    ul {
      color: var(--primary-contrast-color);
      flex-wrap: nowrap;
      white-space: nowrap;
      .p-menubar-item > .p-menubar-item-content {
        font-size: 1.1rem;
        font-weight: 600;
        position: relative;
        color: var(--primary-contrast-color);
        background: none;
        cursor: pointer;
        &:hover {
          color: var(--primary-color);
          filter: drop-shadow(0 0 2px var(--primary-color));
          &:after {
            width: 80%;
          }
        }
        &:after {
          content: '';
          display: block;
          position: absolute;
          width: 0;
          height: 4px;
          background: var(--primary-color);
          border-radius: var(--border-round-3xl);
          left: 50%;
          transform: translateX(-50%);
          bottom: -0.6rem;
          transition: all 0.3s ease;
        }
      }
    }
  }
  .p-menubar-start {
    // backdrop-filter: blur(5px);
    background-color: #010b14a5;
    width: 100%;
    height: 2.6rem;
    div {
      margin: 0 3rem;
    }
  }
  .p-menubar-end {
    // backdrop-filter: blur(5px);
    background-color: #010b14a5;
    margin: 0;
    width: 100%;
    height: 2.6rem;
    align-self: unset;
    .menu-end {
      justify-self: flex-end;
    }
  }
}

[dir='rtl'] .main-menubar {
  --menubar-gap: 2rem;
}

[dir='ltr'] .p-menubar-start {
  border-top-left-radius: var(--border-round-3xl);
  border-bottom-left-radius: var(--border-round-3xl);
}
[dir='rtl'] .p-menubar-start {
  border-top-right-radius: var(--border-round-3xl);
  border-bottom-right-radius: var(--border-round-3xl);
}
[dir='ltr'] .p-menubar-end {
  border-top-right-radius: var(--border-round-3xl);
  border-bottom-right-radius: var(--border-round-3xl);
}
[dir='rtl'] .p-menubar-end {
  border-top-left-radius: var(--border-round-3xl);
  border-bottom-left-radius: var(--border-round-3xl);
}
