/* Variable Font */
@font-face {
  font-family: 'Inter';
  src: url('./Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900; /* Range for variable font */
  font-style: normal;
  font-display: swap;
}

/* Variable Font (Italic) */
@font-face {
  font-family: 'Inter';
  src: url('./Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900; /* Range for variable font */
  font-style: italic;
  font-display: swap;
}
